<% if user_signed_in? %>
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <table>
      <tr>
        <th>
          <%= f.text_field :word, class: "form-control my-auto", placeholder: "検索ワード" %>
        </th>
        <th>
          <%= f.submit "検索", class: "btn btn-success my-auto" %>
        </th>
      </tr>
    </table>
  <% end %>
<% end %>