<div class='container'>
  <div class='row'>
    <div class="col-md-4 offset-md-4 text-center">
      <h3 class="text-bold">フォロー</h3>
    </div>
  </div>
</div>
<hr>
<div class='container'>
  <div class='row'>
    <% @users.each do |user| %>
      <div class='col-4 mb-4 text-center'>
        <div><%= attachment_image_tag(user, :profile_image, size: "200x200", fallback: "no_image.jpg") %></div>
        <div class="text-20 my-3">
        <%= link_to user_path(user), class: "link-black" do %>
          <%= user.name %>
        <% end %>
        </div>
        <div>
          <% if @user == current_user %>
          <% else %>
            <% if current_user.following?(user) %>
              <%= link_to "フォロー解除", user_relationships_path(user), method: :delete, class: "btn btn-danger" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>