<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h2 class="text-bold mt-4 mb-4">Idea Bankとは？</h2>
      <hr class="text-bold mb-4">
      <h5 class="text-bold mb-3">デザイナーがよく使うサイト"Pinterest"で集めたボードを共有するSNSサイトです。</h5>
      <h5 class="text-bold">デザイナー同士でアイデアを共有しあって</h5>
      <h5 class="text-bold mb-3">より良いデザインを創造する手助けになればと思います。</h5>
      <hr class="text-bold mt-4">
      <div class="text-15 my-3">Pinterestはこちらから</div>
      <a href=https://www.pinterest.jp/ class="text-20 link-red" >
        <span class="fab fa-pinterest-square"> Pinterest</span>
      </a>
      <hr>
    </div>
  </div>
</div>