<div class="text-center">
  <strong>
    <h1>Idea Bankとは？</h1>
    </br>デザイナーの発想を補助するサイト デザインに必要な要素を一覧で表示し、
    </br>そこからインスピレーションを想像させる検索結果を表示させるアプリケーションです。
    </br>検索結果やいいと思った内容を保存し、
    </br>他ユーザーはそれを観覧することができます。</br>
  </strong>
</div>