<div class="container">
  <div class="row">
    <div class='mx-auto col-12 col-xl-10'>
      <div class="text-center">
        <strong>
          <h1>ようこそ、Idea Bankへ！</h1>
          <hr>
          </br>まずは会員登録しましょう。
          </br><%= link_to '会員登録', new_user_registration_path, class: "btn btn-lg btn-danger" %>
          <hr>
          </br>会員の方はログインして下さい。
          </br><%= link_to 'ログイン', new_user_session_path, class: "btn btn-lg btn-success" %>
          <hr>
        </strong>
      </div>
    </div>
  </div>
</div>