/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';

  html {
    font-family: 'Kosugi', sans-serif;
  }

  .bg_color {
    background-color: #e5e5e5;
  }

  .text_in_image {
  position: absolute;
  top: 215px;
  left: 220px;
  font-weight: bold;
  }

  .user_in_image {
  position: absolute;
  top: 10px;
  left: 30px;
  font-weight: bold;
  }

  .twitter {
    text-decoration: none;
    color: #00acee;
  }

  .link-white {
    text-decoration: none;
    color: white;
  }

  .link-black {
    text-decoration: none;
    color: black;
  }

  .link-green {
    text-decoration: none;
    color: green;
  }

  .link-red {
    text-decoration: none;
    color: red;
  }

  .image {
  border-radius: 5%;
  }

  .profile_image {
  border-radius: 50%;
  }

  .button {
    font-size: 20px;
  }

  .text-10 {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: bold;
  }

  .text-15 {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
  }

  .text-20 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }

  .text-30 {
    padding: 0;
    margin: 0;
    font-size: 30px;
  }

  .text-bold {
    font-weight: bold;
  }